analytics/pipelines/energy/PL_ENERGI_AARHUS/PL_ENERGI_AARHUS.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name"
        },
        "LS_BLOB": {
            "type": "string"
        },
        "LS_SNOWFLAKE": {
            "type": "string"
        },
        "LS_ENERGI_AARHUS": {
            "type": "string"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/PL_ENERGI_AARHUS')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "This is the main pipeline for gathering Energy Consumption data from Aarhus. It is divided into two parts. The main part gets the types/keys from a config and loops through them. In the inner activity it gets the last load date of that measure type and fetches and stores the data from the API.\n\nThe other part fetches the return temperature from a different place within the same API. \n\nFinally, both raw tables corresponding the data are updated in the database. \n\nOBS: Aarhus updates Energy Data two days behind the current date",
                "activities": [
                    {
                        "name": "Get Types",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_Configs",
                                "type": "DatasetReference",
                                "parameters": {
                                    "config_file": "aarhus_types.conf"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "Loop measure types",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Get Types",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Get Types').output.value",
                                "type": "Expression"
                            },
                            "batchCount": 4,
                            "activities": [
                                {
                                    "name": "Get Energy Data",
                                    "type": "Copy",
                                    "dependsOn": [
                                        {
                                            "activity": "Get LAST_LOAD_DATE",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "RestSource",
                                            "httpRequestTimeout": "00:10:00",
                                            "requestInterval": "00.00:00:00.010",
                                            "requestMethod": "GET",
                                            "paginationRules": {
                                                "supportRFC5988": "true"
                                            }
                                        },
                                        "sink": {
                                            "type": "JsonSink",
                                            "storeSettings": {
                                                "type": "AzureBlobStorageWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "JsonWriteSettings"
                                            }
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_ENERGI_AARHUS",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "measure_type": {
                                                    "value": "@item().measure_types",
                                                    "type": "Expression"
                                                },
                                                "energyreportno": {
                                                    "value": "@item().energyreportno",
                                                    "type": "Expression"
                                                },
                                                "startdate": {
                                                    "value": "@activity('Get LAST_LOAD_DATE').output.firstRow.DATE",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_ENERGI_AARHUS_BLOB",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "year": {
                                                    "value": "@formatDateTime(activity('Get LAST_LOAD_DATE').output.firstRow.DATE, 'yyyy')",
                                                    "type": "Expression"
                                                },
                                                "month": {
                                                    "value": "@formatDateTime(activity('Get LAST_LOAD_DATE').output.firstRow.DATE, 'MM')",
                                                    "type": "Expression"
                                                },
                                                "day": {
                                                    "value": "@formatDateTime(activity('Get LAST_LOAD_DATE').output.firstRow.DATE, 'dd')",
                                                    "type": "Expression"
                                                },
                                                "measure_type": {
                                                    "value": "@item().measure_types",
                                                    "type": "Expression"
                                                },
                                                "energyreportno": {
                                                    "value": "@item().energyreportno",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "Get LAST_LOAD_DATE",
                                    "type": "Lookup",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "SnowflakeSource",
                                            "query": {
                                                "value": "@concat('select ifnull(max(dato::DATE)::Date,''2023-01-01'')::date as date from \"GOVTECH_DB\".\"RAW\".\"3_CLEANSED_AARHUS_ENERGIDATA\" where KEY =', item().energyreportno, 'and MEASURETYPE =', '''', item().measure_types, '''', ' AND VALUE IS NOT NULL;')\n",
                                                "type": "Expression"
                                            },
                                            "exportSettings": {
                                                "type": "SnowflakeExportCopyCommand"
                                            }
                                        },
                                        "dataset": {
                                            "referenceName": "DS_SNOWFLAKE",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "database": "GOVTECH_DB",
                                                "table": "3_CLEANSED_AARHUS_ENERGIDATA",
                                                "schema": "RAW"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "UPDATE_RAW",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "Loop measure types",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SnowflakeSource",
                                "query": "CALL \"RAW\".RAWLOADDATA('GOVTECH_DB', 'RAW', '1_RAW_AARHUS_ENERGIDATA', 'aarhus', 'ENERGIDATA_STAGE')",
                                "exportSettings": {
                                    "type": "SnowflakeExportCopyCommand"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_SNOWFLAKE",
                                "type": "DatasetReference",
                                "parameters": {
                                    "database": "GOVTECH_DB",
                                    "table": "1_RAW_AARHUS_ENERGIDATA",
                                    "schema": "RAW"
                                }
                            }
                        }
                    },
                    {
                        "name": "Get Return temperature",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Get LAST_LOAD_DATE_TEMPERATURES",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "RestSource",
                                "httpRequestTimeout": "00:01:40",
                                "requestInterval": "00.00:00:00.010",
                                "requestMethod": "GET",
                                "paginationRules": {
                                    "supportRFC5988": "true"
                                }
                            },
                            "sink": {
                                "type": "JsonSink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "JsonWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "DS_TEMPERATURES_AARHUS",
                                "type": "DatasetReference",
                                "parameters": {
                                    "startdate": {
                                        "value": "@activity('Get LAST_LOAD_DATE_TEMPERATURES').output.firstRow.DATE",
                                        "type": "Expression"
                                    },
                                    "installationnumber": "137429",
                                    "meternumber": "5366950"
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DS_TEMPERATURES_AARHUS_BLOB",
                                "type": "DatasetReference",
                                "parameters": {
                                    "year": {
                                        "value": "@formatDateTime(activity('Get LAST_LOAD_DATE_TEMPERATURES').output.firstRow.DATE, 'yyyy')",
                                        "type": "Expression"
                                    },
                                    "month": {
                                        "value": "@formatDateTime(activity('Get LAST_LOAD_DATE_TEMPERATURES').output.firstRow.DATE, 'MM')",
                                        "type": "Expression"
                                    },
                                    "day": {
                                        "value": "@formatDateTime(activity('Get LAST_LOAD_DATE_TEMPERATURES').output.firstRow.DATE, 'dd')",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    },
                    {
                        "name": "Get LAST_LOAD_DATE_TEMPERATURES",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SnowflakeSource",
                                "query": {
                                    "value": "@concat('select ifnull(max(dato::DATE)::Date,''2023-01-01'')::date as date from \"GOVTECH_DB\".\"RAW\".\"2_STANDARD_AARHUS_ENERGIDATA_TEMPERATURES\" WHERE returneret_energi is not null ;')",
                                    "type": "Expression"
                                },
                                "exportSettings": {
                                    "type": "SnowflakeExportCopyCommand"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_SNOWFLAKE",
                                "type": "DatasetReference",
                                "parameters": {
                                    "database": "GOVTECH_DB",
                                    "table": "2_STANDARD_AARHUS_ENERGIDATA_TEMPERATURES",
                                    "schema": "RAW"
                                }
                            }
                        }
                    },
                    {
                        "name": "UPDATE_RAW_TEMPERATURES",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "Get Return temperature",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SnowflakeSource",
                                "query": "CALL \"RAW\".RAWLOADDATA('GOVTECH_DB', 'RAW', '1_RAW_AARHUS_ENERGIDATA_TEMPERATURES', 'aarhus_temperatures', 'ENERGIDATA_STAGE')",
                                "exportSettings": {
                                    "type": "SnowflakeExportCopyCommand"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_SNOWFLAKE",
                                "type": "DatasetReference",
                                "parameters": {
                                    "database": "GOVTECH_DB",
                                    "table": "1_RAW_AARHUS_ENERGIDATA_TEMPERATURES",
                                    "schema": "RAW"
                                }
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "variables": {
                    "api-key": {
                        "type": "String"
                    }
                },
                "folder": {
                    "name": "Energi"
                },
                "annotations": [],
                "lastPublishTime": "2023-10-02T09:25:14Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_Configs')]",
                "[concat(variables('factoryId'), '/datasets/DS_SNOWFLAKE')]",
                "[concat(variables('factoryId'), '/datasets/DS_TEMPERATURES_AARHUS')]",
                "[concat(variables('factoryId'), '/datasets/DS_TEMPERATURES_AARHUS_BLOB')]",
                "[concat(variables('factoryId'), '/datasets/DS_ENERGI_AARHUS')]",
                "[concat(variables('factoryId'), '/datasets/DS_ENERGI_AARHUS_BLOB')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Configs')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_BLOB')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "config_file": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@dataset().config_file",
                            "type": "Expression"
                        },
                        "container": "configs"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SNOWFLAKE')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_SNOWFLAKE')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "database": {
                        "type": "string"
                    },
                    "table": {
                        "type": "string"
                    },
                    "schema": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "SnowflakeTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_TEMPERATURES_AARHUS')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_ENERGI_AARHUS')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "startdate": {
                        "type": "string"
                    },
                    "installationnumber": {
                        "type": "string"
                    },
                    "meternumber": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "RestResource",
                "typeProperties": {
                    "relativeUrl": {
                        "value": "@concat('meterreport/installationnumber/',dataset().installationnumber,'/meternumber/', dataset().meternumber, '/?includeInactiveMeters=false&periodEnd=', formatDateTime(addDays(utcNow(),-2), 'yyyy-MM-dd'),'T23%3A00%3A00.000%2B01%3A00&periodStart=', formatDateTime(dataset().startdate, 'yyyy-MM-dd'), 'T00%3A00%3A00.000%2B01%3A00&reportType=energy&resolution=hour')",
                        "type": "Expression"
                    }
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_TEMPERATURES_AARHUS_BLOB')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_BLOB')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "year": {
                        "type": "string"
                    },
                    "month": {
                        "type": "string"
                    },
                    "day": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@concat(dataset().year,'/',dataset().month,'/',dataset().day, '.json')",
                            "type": "Expression"
                        },
                        "folderPath": "aarhus_temperatures",
                        "container": "energi-data"
                    }
                },
                "schema": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_ENERGI_AARHUS')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_ENERGI_AARHUS')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "measure_type": {
                        "type": "String"
                    },
                    "energyreportno": {
                        "type": "String"
                    },
                    "startdate": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "RestResource",
                "typeProperties": {
                    "relativeUrl": {
                        "value": "@concat('energyreport/key/',dataset().energyreportno,'?allowMissingData=true&measureType=', dataset().measure_type, '&periodEnd=', formatDateTime(addDays(utcNow(),-2), 'yyyy-MM-dd'),'T23%3A00%3A00.000%2B01%3A00&periodStart=', formatDateTime(dataset().startdate, 'yyyy-MM-dd'), 'T00%3A00%3A00.000%2B01%3A00&reportType=energy&resolution=hour')",
                        "type": "Expression"
                    }
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_ENERGI_AARHUS_BLOB')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_BLOB')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "year": {
                        "type": "string"
                    },
                    "month": {
                        "type": "string"
                    },
                    "day": {
                        "type": "string"
                    },
                    "measure_type": {
                        "type": "string"
                    },
                    "energyreportno": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@concat(dataset().measure_type, '/', dataset().energyreportno, '/',dataset().year,'/',dataset().month,'/',dataset().day, '.json')",
                            "type": "Expression"
                        },
                        "folderPath": "aarhus",
                        "container": "energi-data"
                    }
                },
                "schema": {}
            },
            "dependsOn": []
        }
    ]
}