analytics/pipelines/driftoptimeringsmodel/PL_DRIFTOPTIMERINGSMODEL/PL_DRIFTOPTIMERINGSMODEL.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_Driftoptimeringsmodel":{"type":"string"},"LS_SNOWFLAKE":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_DRIFTOPTIMERINGSMODEL')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"description":"This pipelines is responsible for training the AI-model \"Driftoptimeringsmodel\" once a month. ","activities":[{"name":"Get token","type":"WebActivity","dependsOn":[{"activity":"Get Config","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":"https://app-govtech.azurewebsites.net/auth/jwt/login","method":"POST","headers":{"accept":"application/json","Content-Type":"application/x-www-form-urlencoded"},"body":{"value":"@activity('Get Config').output.value","type":"Expression"}}},{"name":"Train Model","type":"Lookup","dependsOn":[{"activity":"Get token","dependencyConditions":["Succeeded"]},{"activity":"UPDATE_DRIFTOPTIMERING_TRAINING","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"POST","additionalHeaders":{"value":"@{concat('Authorization: Bearer ' , activity('Get token').output.access_token)}","type":"Expression"},"requestTimeout":"10:00:00"},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"DS_DRIFTOPTIMERINGSMODEL_TRAIN","type":"DatasetReference","parameters":{}}}},{"name":"UPDATE_DRIFTOPTIMERING_TRAINING","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SnowflakeSource","query":"CALL \"RAW\".UPDATEFEATURIZDISTINCT('GOVTECH_DB', 'RAW', '4_FEATURIZ_DRIFTOPTIMERING_TRAINING_TEST', '3_CLEANSED_DRIFTOPTIMERING_TRAINING_TEST')","exportSettings":{"type":"SnowflakeExportCopyCommand"}},"dataset":{"referenceName":"DS_SNOWFLAKE","type":"DatasetReference","parameters":{"database":"GOVTECH_DB","table":"4_FEATURIZ_DRIFTOPTIMERING_TRAINING_TEST","schema":"RAW"}}}},{"name":"Get Config","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":"https://kv-govtech.vault.azure.net/secrets/driftoptimeringsmodel-cred?api-version=7.0","method":"GET","headers":{},"authentication":{"type":"MSI","resource":"https://vault.azure.net"}}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"Driftoptimeringsmodel"},"annotations":[],"lastPublishTime":"2023-10-02T09:25:14Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_DRIFTOPTIMERINGSMODEL_TRAIN')]","[concat(variables('factoryId'), '/datasets/DS_SNOWFLAKE')]"]},{"name":"[concat(parameters('factoryName'), '/DS_DRIFTOPTIMERINGSMODEL_TRAIN')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_Driftoptimeringsmodel')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":"/train"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_SNOWFLAKE')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SNOWFLAKE')]","type":"LinkedServiceReference"},"parameters":{"database":{"type":"string"},"table":{"type":"string"},"schema":{"type":"string"}},"annotations":[],"type":"SnowflakeTable","schema":[],"typeProperties":{}},"dependsOn":[]}]}