analytics/pipelines/energy/PL_ENERGI_FAVRSKOV/PL_ENERGI_FAVRSKOV.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name"
        },
        "LS_BLOB": {
            "type": "string"
        },
        "LS_SNOWFLAKE": {
            "type": "string"
        },
        "LS_ENERGI_FAVRSKOV2": {
            "type": "string"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/PL_ENERGI_FAVRSKOV')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "This pipeline is responsible for gathering energy consumption for Favrskov. Firstly it fetches the credentials/config for getting an access token for the API. The token is then fetched and stored in a variable. The wanted tags are then fetched from a config and looped through. In the loop the last load date from the databased is looked up and the API is then called to get  and save the newest data. Finally the raw table in the database is triggered to update. ",
                "activities": [
                    {
                        "name": "Get Config",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "url": "https://kv-govtech.vault.azure.net/secrets/favrskov-omega-config?api-version=7.0",
                            "method": "GET",
                            "headers": {},
                            "authentication": {
                                "type": "MSI",
                                "resource": "https://vault.azure.net"
                            }
                        }
                    },
                    {
                        "name": "Get token",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Get Config",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "url": "https://favrskov.emshost.dk/Omegaweb/api/Authentication/Token",
                            "method": "POST",
                            "headers": {},
                            "body": {
                                "value": "@activity('Get Config').output.value",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "GET tags",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_Configs",
                                "type": "DatasetReference",
                                "parameters": {
                                    "config_file": "favrskov_tags.conf"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "Loop tags",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Set token",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "GET tags",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('GET tags').output.value",
                                "type": "Expression"
                            },
                            "batchCount": 4,
                            "activities": [
                                {
                                    "name": "Get data",
                                    "type": "Copy",
                                    "dependsOn": [
                                        {
                                            "activity": "Get LAST_LOAD_DATE",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "RestSource",
                                            "httpRequestTimeout": "00:00:30",
                                            "requestInterval": "00.00:00:00.010",
                                            "requestMethod": "POST",
                                            "requestBody": {
                                                "value": "@string(array(json(concat('{\n  \"TagID\":', item().tags, ',\n  \"To\":\"', formatDateTime(utcnow(), 'yyyy-MM-ddThh:mm:ss'),'\",\n  \"From\":\"', formatDateTime(activity('Get LAST_LOAD_DATE').output.firstRow.DATE, 'yyyy-MM-ddThh:mm:ss'),'\",\n  \"Period\": 6,\n  \"Flag\": 0\n}'))))",
                                                "type": "Expression"
                                            },
                                            "additionalHeaders": {
                                                "Authorization": {
                                                    "value": "@concat('GUID ', variables('api_token'))",
                                                    "type": "Expression"
                                                },
                                                "Content-Type": "application/json"
                                            },
                                            "paginationRules": {
                                                "supportRFC5988": "true"
                                            }
                                        },
                                        "sink": {
                                            "type": "JsonSink",
                                            "storeSettings": {
                                                "type": "AzureBlobStorageWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "JsonWriteSettings"
                                            }
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_ENERGI_FAVRSKOV",
                                            "type": "DatasetReference",
                                            "parameters": {}
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_ENERGI_FAVRSKOV_BLOB",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "year": {
                                                    "value": "@formatDateTime(activity('Get LAST_LOAD_DATE').output.firstRow.DATE, 'yyyy')",
                                                    "type": "Expression"
                                                },
                                                "month": {
                                                    "value": "@formatDateTime(activity('Get LAST_LOAD_DATE').output.firstRow.DATE, 'MM')",
                                                    "type": "Expression"
                                                },
                                                "day": {
                                                    "value": "@formatDateTime(activity('Get LAST_LOAD_DATE').output.firstRow.DATE, 'dd')",
                                                    "type": "Expression"
                                                },
                                                "tagid": {
                                                    "value": "@item().tags",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "Get LAST_LOAD_DATE",
                                    "type": "Lookup",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "SnowflakeSource",
                                            "query": {
                                                "value": "@concat('select max(DATE::DATE)::Date as date from \"GOVTECH_DB\".\"RAW\".\"3_CLEANSED_FAVRSKOV_ENERGIDATA\" where TAGID =', item().tags, 'AND VALUE IS NOT NULL AND DATE::DATE < CURRENT_DATE();')",
                                                "type": "Expression"
                                            },
                                            "exportSettings": {
                                                "type": "SnowflakeExportCopyCommand"
                                            }
                                        },
                                        "dataset": {
                                            "referenceName": "DS_SNOWFLAKE",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "database": "GOVTECH_DB",
                                                "table": "3_CLEANSED_FAVRSKOV_ENERGIDATA",
                                                "schema": "RAW"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "Set token",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Get token",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "api_token",
                            "value": {
                                "value": "@activity('Get token').output.access_token",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "UPDATE_RAW",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "Loop tags",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SnowflakeSource",
                                "query": "CALL \"RAW\".RAWLOADDATA('GOVTECH_DB', 'RAW', '1_RAW_FAVRSKOV_ENERGIDATA', 'favrskov', 'ENERGIDATA_STAGE')",
                                "exportSettings": {
                                    "type": "SnowflakeExportCopyCommand"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_SNOWFLAKE",
                                "type": "DatasetReference",
                                "parameters": {
                                    "database": "GOVTECH_DB",
                                    "table": "1_RAW_FAVRSKOV_ENERGIDATA",
                                    "schema": "RAW"
                                }
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "variables": {
                    "api_token": {
                        "type": "String"
                    },
                    "api-key": {
                        "type": "String"
                    }
                },
                "folder": {
                    "name": "Energi"
                },
                "annotations": [],
                "lastPublishTime": "2023-10-02T09:25:14Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_Configs')]",
                "[concat(variables('factoryId'), '/datasets/DS_SNOWFLAKE')]",
                "[concat(variables('factoryId'), '/datasets/DS_ENERGI_FAVRSKOV')]",
                "[concat(variables('factoryId'), '/datasets/DS_ENERGI_FAVRSKOV_BLOB')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Configs')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_BLOB')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "config_file": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@dataset().config_file",
                            "type": "Expression"
                        },
                        "container": "configs"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SNOWFLAKE')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_SNOWFLAKE')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "database": {
                        "type": "string"
                    },
                    "table": {
                        "type": "string"
                    },
                    "schema": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "SnowflakeTable",
                "schema": [],
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_ENERGI_FAVRSKOV')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_ENERGI_FAVRSKOV2')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "RestResource",
                "typeProperties": {},
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_ENERGI_FAVRSKOV_BLOB')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_BLOB')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "year": {
                        "type": "string"
                    },
                    "month": {
                        "type": "string"
                    },
                    "day": {
                        "type": "string"
                    },
                    "tagid": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@concat(dataset().tagid, '/', dataset().year,'/',dataset().month,'/',dataset().day, '.json')",
                            "type": "Expression"
                        },
                        "folderPath": "favrskov",
                        "container": "energi-data"
                    }
                },
                "schema": {}
            },
            "dependsOn": []
        }
    ]
}