analytics/pipelines/weather/PL_DMI/PL_DMI.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name"
        },
        "LS_BLOB": {
            "type": "string"
        },
        "LS_DMI": {
            "type": "string"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/PL_DMI')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "This pipeline fetches the parameters wanted from the config-file in the storage account and loops through them. It calls DMI's Open API and saves the observations in the storage account. ",
                "activities": [
                    {
                        "name": "GET_PARAMETERS",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_Configs",
                                "type": "DatasetReference",
                                "parameters": {
                                    "config_file": "parameters.conf"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "Get observations",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "GET_PARAMETERS",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('GET_PARAMETERS').output.value",
                                "type": "Expression"
                            },
                            "activities": [
                                {
                                    "name": "Save observations",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "RestSource",
                                            "httpRequestTimeout": "00:04:00",
                                            "requestInterval": "00.00:00:00.010",
                                            "requestMethod": "GET",
                                            "paginationRules": {
                                                "supportRFC5988": "true"
                                            }
                                        },
                                        "sink": {
                                            "type": "JsonSink",
                                            "storeSettings": {
                                                "type": "AzureBlobStorageWriteSettings"
                                            },
                                            "formatSettings": {
                                                "type": "JsonWriteSettings"
                                            }
                                        },
                                        "enableStaging": false
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_DMI",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "start_date": {
                                                    "value": "@formatDateTime(pipeline().parameters.start_date, 'yyyy-MM-ddTHH:mm:ss')",
                                                    "type": "Expression"
                                                },
                                                "api_key": {
                                                    "value": "@pipeline().parameters.api_key",
                                                    "type": "Expression"
                                                },
                                                "station_id": {
                                                    "value": "@pipeline().parameters.stationid",
                                                    "type": "Expression"
                                                },
                                                "parameter": {
                                                    "value": "@item().parameter",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_DMI_BLOB",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "parameter": {
                                                    "value": "@item().parameter",
                                                    "type": "Expression"
                                                },
                                                "station_id": {
                                                    "value": "@pipeline().parameters.stationid",
                                                    "type": "Expression"
                                                },
                                                "date": {
                                                    "value": "@pipeline().parameters.start_date",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "stationid": {
                        "type": "string"
                    },
                    "start_date": {
                        "type": "string"
                    },
                    "api_key": {
                        "type": "string"
                    }
                },
                "variables": {
                    "api_key": {
                        "type": "String"
                    },
                    "start_date": {
                        "type": "String"
                    },
                    "end_date": {
                        "type": "String"
                    }
                },
                "folder": {
                    "name": "DMI"
                },
                "annotations": [],
                "lastPublishTime": "2023-10-02T09:25:14Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_Configs')]",
                "[concat(variables('factoryId'), '/datasets/DS_DMI')]",
                "[concat(variables('factoryId'), '/datasets/DS_DMI_BLOB')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Configs')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_BLOB')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "config_file": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@dataset().config_file",
                            "type": "Expression"
                        },
                        "container": "configs"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_DMI')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_DMI')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "start_date": {
                        "type": "string"
                    },
                    "api_key": {
                        "type": "string"
                    },
                    "station_id": {
                        "type": "string"
                    },
                    "parameter": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "RestResource",
                "typeProperties": {
                    "relativeUrl": {
                        "value": "@concat('items?limit=300000&datetime=', dataset().start_date, '%2B00:00/', formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ss'), '%2B00:00&stationId=', dataset().station_id, '&parameterId=', dataset().parameter, '&api-key=', dataset().api_key)",
                        "type": "Expression"
                    }
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_DMI_BLOB')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_BLOB')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "parameter": {
                        "type": "string"
                    },
                    "station_id": {
                        "type": "string"
                    },
                    "date": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@concat(dataset().station_id,'/',dataset().parameter,'/',formatDateTime(dataset().date, 'yyyy/MM/dd/hh:mm:ss'),'.json')",
                            "type": "Expression"
                        },
                        "container": "dmi"
                    }
                },
                "schema": {}
            },
            "dependsOn": []
        }
    ]
}